exportPattern("^[[:alpha:]]+")
importFrom("dplyr","mutate")
importFrom("dplyr","select")
importFrom("dplyr","%>%")
importFrom("tidyr","gather")
importFrom("tidyr","spread")
importFrom("tidyr","separate")
importFrom("readr", "read_fwf")
importFrom("ggplot2", "layer")
importFrom("geosphere", "destPoint")
importFrom("dplyr", "bind_rows")
importFrom("dplyr", "rename")
importFrom("grid", "gList")
importFrom("dplyr", "filter")
importFrom("grid", "polygonGrob")
importFrom("grid", "gTree")
importFrom("ggplot2", "ggproto")
importFrom("ggplot2", "aes")
importFrom("ggplot2", "draw_key_polygon")
importFrom("ggplot2", "Geom")
